header {
  width: 100vw;
  display: inline-block;
}

.head-top-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  background: #ff5e33;
}

/* 로고 부분 */
.head-logo-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 80px;
  margin-top: 20px;
  background-color: white;
}

.head-logo {
  display: flex;
}

.head-logo img {
  width: 130px;
  height: 80px;
  padding-right: 10px;
}

.head-logo a {
  text-decoration: none;
  display: flex;
}

.head-logo-container #title {
  font-size: 35px;
  line-height: 80px;
  color: #ff5e33;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 3px rgb(66, 61, 61);
}

/* 오른쪽 */
.head-right {
  position: absolute;
  right: 0;
  margin-right: 50px;
  line-height: 80px;
  overflow: hidden;
  white-space: nowrap; /*줄바꿈 막기*/
  /* background-color: #f8cdc1; */
}

.head-right li {
  display: inline-block;
  font-family: "omyu_pretty";
  font-size: 20px;
  line-height: 35px;
  padding: 0 10px;
}

.head-right li a {
  text-decoration: none;
  color: #ff5e33;
}

.head-right li a:hover {
  color: #ff5e33;
}

/* 메뉴 */
.head-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  background-color: #f8cdc1;
}

.head-menu ul {
  display: inline-block;
}

.head-menu li {
  display: inline-block;
  align-items: center;
  padding: 0 30px;
  line-height: 50px;
}

.head-menu li a {
  text-decoration: none;
  color: #ff5e33;
  padding: 10px;
  border-radius: 5px;
}

.head-menu li a:hover {
  background-color: #ff5e33;
  color: white;
  line-height: 50px;
}

.head-menu span {
  font-family: "omyu_pretty";
  font-size: 1.5rem;
}

.head-menu input {
  border: none;
  background-color: #fcf1f1;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-btn {
  display: flex;
  align-items: center;
}

.search-btn i {
  font-size: 20px;
  cursor: pointer;
  padding: 6.5px;
  color: #666;
}

.search-btn button {
  background: #e2d5d5;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 메인페이지 */
main {
  padding-top: 82px;
  width: 100vw;
}

.mainpage {
  height: calc(100vh - 150px); /*뷰포트높이-헤더높이*/
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

#slide {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  gap: 10px;
  position: relative;
}

#slide img {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border-radius: 10%;
  display: block;
}

#slide .slide-btn-container {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-bottom: 10px;
}

#slide .slide-btn {
  border: none;
  padding: 7px;
  background-color: #f8cdc1;
  border-radius: 50%;
}

#slide .slide-btn:hover {
  background-color: #ff5e33;
  color: white;
}

#slide .slide-btn.active {
  background-color: #ff5e33;
  color: white;
}

#category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #f8cdc1;
  gap: 120px;
}

.category-content {
  position: relative;
}

.category-link {
  text-decoration: none;
  color: white;
  font-family: "omyu_pretty";
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.category-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: block;
}

.category-text {
  display: block;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 4px black;
}

main #top {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

#top a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

main #section1 {
  background-color: rgb(238, 200, 200);
}

@media screen and(min-width: 600px) {
  .head-menu {
  }
}
/* 진실 css */
html,
body {
  font-size: 13px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}
form,
ul {
  margin: 0;
  padding: 0;
}
#wrap {
  text-align: center;
}
#wrap section {
  display: inline-block;
  width: 1270px;
  margin-bottom: 30px;
}
.menu-header {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #ffac95;
  margin-bottom: 10px;
}
.menu-header img {
  width: 80px;
  height: 75px;
  margin: 0 20px;
}
.menu-header .menu-name {
  height: 65px;
  color: #ff5e33;
  font-size: 22px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header a {
  width: 80px;
  height: 75;
  font-size: 12px;
  margin-top: 5px;
  position: relative;
  color: rgba(8, 8, 8, 0.5);
  font-weight: 800;
}
.menu-header a span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 72px;
  right: 0;
  bottom: 0;
  background-image: url(/images/sp_main.png);
  background-size: 435px 414px;
  background-position: -35px -402px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}
.menu-header a span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 61px;
  right: 0;
  bottom: 0;
  background-image: url(/images/sp_main.png);
  background-size: 435px 414px;
  background-position: -35px -402px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}
.menu li {
  list-style-type: none;
  float: left;
}
.menu a {
  text-decoration: none;
}
.menu a:visited {
  color: black;
}
.menu a:hover {
  text-decoration: underline;
}
.menu-img img {
  width: 214px;
  height: 185px;
  background-color: #ffac95;
  margin: 10px 20px;
  border-radius: 15px;
}
.menu-img img:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  filter: brightness(0.9);
}
.menu-footer {
  margin: 0 20px;
  position: relative;
}
.restaurant-name {
  font-weight: bold;
  margin-bottom: 1px;
}
.menu-footer img {
  position: absolute;
  top: 17px;
  left: 23px;
}
.menu-footer span:nth-of-type(2) {
  margin-left: 19px;
  font-weight: bold;
}
.menu-footer .dot {
  color: rgba(8, 8, 8, 0.5);
  font-weight: 800;
}
.menu-footer span:nth-of-type(3) {
  color: #686969;
}
.menu-footer .dot::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #686969;
  margin: 9px 7px 0;
  border-radius: 50%;
  vertical-align: 5px;
}
/* 식당 리스트 화면 */
html,
body {
  font-size: 13px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}
form,
ul {
  margin: 0;
  padding: 0;
}
#wrap {
  text-align: center;
}
#wrap .restaurant-list {
  display: inline-block;
  width: 1270px;
}
.restaurant-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid #ffac95;
  margin-bottom: 10px;
}
.restaurant-list-header img {
  width: 80px;
  height: 75px;
  margin: 0 20px;
}
.restaurant-list-header > div {
  height: 65px;
  color: #ff5e33;
  font-size: 22px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-list-body {
  width: 1270px;
  display: flex;
  justify-content: center;
}
.restaurant-list-body li {
  width: 468px;
  height: 200px;
  margin-bottom: 25px;
  list-style-type: none;
  border-radius: 10px;
}
.restaurant-list-body li {
  border: 2px solid white;
}
.restaurant-list-body li:hover {
  border: 2px solid #ffae96;
}
.restaurant-list-body li:last-child {
  margin-bottom: 10px;
}
.restaurant-list-body a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.restaurant-list-body a:visited {
  color: black;
}
.restaurant-list-body li img {
  width: 214px;
  height: 185px;
  border-radius: 15px;
  margin: 8px 0 0 8px;
}
.restaurant-list-desc {
  width: 250px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px 0;
  border: 0px solid white;
}
.restaurant-list-desc span:first-child {
  height: 25px;
}
.restaurant-list-desc div {
  display: flex;
}
.restaurant-list-desc div img {
  margin-left: -5px;
  margin-top: 2px;
  width: 20px;
}
.restaurant-list-desc div span {
  width: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  font-weight: 410;
  font-size: 19px;
}
.restaurant-name {
  font-weight: 530;
  font-size: 23px;
  align-items: center;
}
.last-line,
.dot {
  padding-top: 4px;
}
.restaurant-list-footer {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 540px;
  height: 36px;
  padding-bottom: 30px;
}
.restaurant-list-footer div {
  position: relative;
  padding: 20px;
}
.restaurant-list-footer .prev,
.restaurant-list-footer .next {
  background: none;
  border: none;
  content: "";
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
  margin-top: 3px;
}
.restaurant-list-footer .prev::before,
.restaurant-list-footer .next::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/images/sp_main.png);
  background-size: 435px 414px;
  background-position: -35px -402px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  margin: auto;
}
.restaurant-list-footer .prev::before {
  transform: rotate(180deg);
}
.restaurant-list-footer .text {
  display: flex;
  align-items: center;
}
/* 준혁 */
html,
body {
  font-size: 13px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}
form,
ul {
  margin: 0;
  padding: 0;
}
#wrap {
  text-align: center;
}
#wrap .reserve {
  display: inline -block;
  width: 1270px;
}
.reserve-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid #ffac95;
  margin-bottom: 10px;
}
.reserve-header img {
  width: 80px;
  height: 75px;
  margin: 0 20px;
}
.reserve-header > div {
  height: 65px;
  color: #ff5e33;
  font-size: 22px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-center-header {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.reserve-center-header button {
  width: 82px;
  position: relative;
  display: flex;
  margin: 0 20px;
  padding: 7px;
  border-radius: 10px;
  background-color: transparent;
  background-color: #ffede9;
  border: 1px solid white;
  margin-top: 20px;
  font-size: 20px;
  justify-content: center;
}
.reserve-center-header button:hover {
  border: 1px solid #ff5e33;
}
.reserve-center-header button:focus {
  filter: brightness(0.9);
}
.reserve-center-header button span:first-child {
  position: absolute;
  top: 10px;
  left: 14px;
}
.reserve-center-header .dot {
  margin-left: 21px;
}
.reserve-center-header .dot::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: #686969;
  margin: 9px 7px 0;
  border-radius: 50%;
  vertical-align: 5px;
}
.reserve-main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.reserve-main-type {
  display: flex;
  flex-flow: column;
  height: 900px;
  border: 2px solid #ff5e33;
  border-radius: 10px;
  margin: 20px;
  width: 236px;
}
.reserve-main-type span {
  margin: 20px;
  color: #ff5e33;
  font-size: 25px;
  font-weight: bold;
}
.reserve-main-type button {
  margin: 10px 20px;
  padding: 10px 0;
  background-color: #ffede9;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 15px;
}
.reserve-main-type button:hover {
  cursor: pointer;
  border: 1px solid #ff5e33;
}
.reserve-main-type button:focus {
  filter: brightness(0.9);
}
.reserve-grid {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-auto-flow: column;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: 1fr 1fr;
}
.reserve-grid button {
  margin: 0 5px;
  padding: 16px 9px;
}
.reserve-center-footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  text-decoration: none;
  border: 2px solid #ff5e33;
  border-radius: 10px;
  margin-bottom: 20px;
}
.reserve-center-footer a:visited {
  color: black;
}
.reserve-center-footer a:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}
